@font-face {
  font-family: Onest;
  src: url(../fonts/Onest-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Onest;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Inicio Styles */
.inicio {
  width: 100%;
  position: relative;
  height: 100dvh;
  max-height: 100dvh;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.datos {
  background-color: rgba(0, 102, 219, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.logo {
  width: 200px;
  height: 250px;
  border-radius: 100%;
  padding: 0.2rem;
}
.titulo {
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
}
.desc {
  width: 65%;
  font-size: 1rem;
  text-align: center;
}
/* Nav Styles */
header {
  width: 100%;
  background-color: rgb(15, 80, 255);
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar img {
  width: 40px;
  height: 50px;
}
.navbar-options {
  width: 80%;
}
.navbar-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.navbar-list a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}
.navbar-list a:hover {
  background-color: rgba(0, 15, 150, 0.5);
  border-radius: 20px;
}
/* Nosotros Styles */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
.nosotros {
  max-width: 900px;
  margin: auto;
  text-align: justify;
  padding: 20px;
  line-height: 1.8;
}
.nosotros-titulo,
.contacto-titulo {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
}
.nosotros-img {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* Contacto Styles */
.contacto {
  width: 100%;
  padding: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto-list {
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.contacto-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 1rem;
  color: #818181;
}
.contacto-list li a:hover {
  color: #505050;
}
.contacto-list img {
  margin: 0 0.5rem;
  width: 25px;
  height: 25px;
}
/* Login Styles */
.login-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 35%;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0.5rem;
  border-radius: 15px;
}
.login-form h1 {
  color: #000;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}
.login-form input {
  width: 80%;
  height: 2rem;
  margin: 0.5rem 0;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  font-size: 1rem;
  font-weight: 600;
  color: #505050;
}
.login-form .sbmt {
  width: 25%;
  margin: 1rem 0;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgb(15, 80, 255);
}
.login-form .sbmt:hover {
  background-color: rgb(15, 50, 255);
  cursor: pointer;
}
.msg-success {
  color: rgb(0, 190, 0);
}
.msg-error {
  color: rgb(255, 30, 30);
}
@media (max-width: 968px) {
  .login-form {
    width: 80%;
  }
}
